<html>
<head>
  <link rel="stylesheet" href="/pretty_colors.css" media="screen" title="no title" charset="utf-8">
</head>

<body>
  <h1>You are now looking at the repos for <%= user %>! </h1>


  <table align="center">
    <tr>
      <th> Repos</th>

    </tr>
    <%= i=0 %>
    <% repos_url.each do |url| %>
    <tr>
      <td><a target="_blank" href= <%= url %> > <%= repos[i] %> </a>  </td>
    </tr>
    <%= i+=1 %>
    <%end%>
  </table>

  <form action="/get_repos" method="post">
    <input type="text" name="name" value="" placeholder="github_username">
    <input type="submit" name="submit_button" value="Go">
  </form>
  <marquee><img src=<%= picture %>
    style="width:400;height:300;"/>
  </marquee>

</body>
</html>
